:root{
    --width-content: 94vw;
}
article.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 5vh;
    background-color: black;
}

section.image-section{
    width: 100vw;
}

section.image-section img{
    width: 100vw;
}

nav.season-navigation{
    display: flex;
    align-items: center;
    width: var(--width-content);
    height: 5vh;
    gap: 4vw;
}
nav.season-navigation h2{
    color: white;
}
nav.season-navigation ul{
    display: flex;
    list-style: none;
    overflow: auto;
}

nav.season-navigation li{
    color: white;
}
nav.season-navigation li button{
    width: 16vw;
    height: 5vh;
    background-color: green;
    color: white;
}

section.episode-list{
    width: var(--width-content);
    display: flex;
}

section.episode-list ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: var(--width-content);
    gap: 4vh;
}

section.episode-list li{
    display: flex;
    flex-direction: column;
}

section.episode-list ul li img{
    width: 100%;
}
section.episode-list ul li h3{
    color: white;
}